db.hostname={{ DB_HOST }}
db.port={{ DB_PORT }}
db.servicename= {{ DB_SID }}
db.sid={{ DB_SID }}
db.username={{ DB_USER }}
migrate.apex.rest=false
plsql.gateway.add=true
rest.services.apex.add=true
rest.services.ords.add=true
schema.tablespace.default={{ TBSPC_ORDS_METADATA }}
schema.tablespace.temp={{ TMP_TBSPC_ORDS_METADATA }}
standalone.http.port={{ HTTP_PORT }}
standalone.static.images= {{ STATIC_IMAGES }}
user.tablespace.default={{ TBSPC_ORDS_PUBLIC_USER }}
user.tablespace.temp={{ TMP_TBSPC_ORDS_PUBLIC_USER }}
