#
# apex-ords.conf file
#

# disable sensitive version info
ServerSignature Off
ServerTokens Prod

# standard alias for Apex image files
Alias /i/ "{{ APACHE_IMAGES_LOCATION }}/images/"

# forward dynamic (ORDS) requests to Tomcat
<VirtualHost *:80>
  ProxyRequests Off
  ProxyPreserveHost On
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>
  ProxyPass /ords ajp://localhost:8009/ords
  ProxyPassReverse /ords ajp://localhost:8009/ords
</VirtualHost>

# enable compression of static content
<IfModule mod_deflate.c>
   SetOutputFilter DEFLATE
   AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css text/javascript
</IfModule>

# enable client caching of static content
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/gif "access plus 7 days"
  ExpiresByType image/jpeg "access plus 7 days"
  ExpiresByType image/png "access plus 7 days"
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType text/javascript "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
  ExpiresByType application/x-javascript "access plus 7 days"
</IfModule>
