#!/bin/sh

. /etc/profile.d/oracle_env.sh

# Create a tablespace for APEX and install APEX in it

sqlplus /nolog <<EOF
CONNECT / as sysdba
CREATE TABLESPACE {{ APEX_TABLESPACE }} DATAFILE '{{ APEX_TABLESPACE_DATA_FILE }}' SIZE 10M AUTOEXTEND ON;
@apexins.sql {{ APEX_TABLESPACE }} {{ APEX_TABLESPACE }} TEMP /i/;
exit;

EOF
